.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.content {
  display: flex;
}

.item {
  display: flex;
}

.item-label {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.3rem;
}

.item-icon {
  margin-left: auto;
  font-size: 12px;
}
